
.active {
    border-style: groove;
    border-color: black;
}

.calculator {
    font-size: 50px;
    display: block;
    width: 500px;
    height: 600px;
    padding: 0px 0px 0px 0px;
}
.screen {
    font-size: 100px;
    text-align: right;
    height: 150px;
    background-color: gainsboro;
    border-style:inset;
    padding-right: 30px;
    padding-bottom: 0px;
}
.modifier {
    background-color: lightblue;
    margin: 0px -4px 0px 0px;
    border-style:groove;
}
.number {
    background-color: steelblue;
    margin: 0 -4px 0px 0px;
    border-style:groove;
}

.method {
    background-color: orange;
    margin-left: -5px;
    border-style:groove;
}

.numpad {
    font-size: auto;
    
}